body{
  background-color: #FFFBDF;
  text-align: center;
}

.background-video{
  padding: 0%;
  height: 155vh;
  width: 98.7vw;
 object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.logo{
  height: 90px;
  width: 160px;
  margin-bottom: 0.5rem;
}

.signup_h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.card{
  margin-top: 15rem;
  margin-bottom: 5rem;
}


.card_body{
  text-align: left;
  padding: 4%;
}


.signup{
  text-align: center;
}


.login-area{
  width: 100%;
  height: 50px;
  font-size: 13px;
  letter-spacing: 0.3px;
  font-weight: 400;
  border: 0.5px solid #e1eaea;
  text-align: left;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;

}

.text-danger{
font-size: 80%;
font-weight: 400;

}
.password{
  margin: 0px;
}

.checkbox{
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn_1{
  margin-top: 1rem;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .3px;
  width: 100%;
  padding: 0.6rem 1.75rem;
  margin-bottom: 1.50rem;
}

.signIn{
  text-align: center;
}
